github "SDWebImage/SDWebImage"
github "ReactiveX/RxSwift"
github "SnapKit/SnapKit"
github "Alamofire/Alamofire"
github "andreamazz/AMScrollingNavbar"
github "Juanpe/SkeletonView"
github "keitaoouchi/MarkdownView"
github "xmartlabs/XLPagerTabStrip" ~> 8.1
github "radex/SwiftyUserDefaults" "4.0.0-alpha.1"
github "Ekhoo/Device" ~> 3.1.2
